body {
  background-color: #4EB980;
  }

.name {
  background-color: #4EB980;
  width: 40%;
  height: 40px;
  margin-left: 3%;
  margin-right: 5%;
  font-size: 20px;

  border-size: 1px;
  border-color: white;
  border-style: solid;
  padding: 20px;
}

.email {
  background-color: #4EB980;
  width: 40%;
  height: 40px;
  padding: 20px;
  border-size: 1px;
  border-color: white;
  border-style: solid;
  font-size: 20px;


}

textarea {
  background-color: #4EB980;
  width: 91.7%;
  height: 300px;
  border-size: 1px;
  border-color: white;
  border-style: solid;
  margin-left: 3%;
  margin-right: 0%;
  margin-top: 5%;
  font-size: 20px;

}

.submit {
  background-color: #fff;
  border-radius: 15px;
  margin-left: 35%;
  margin-top: 3%;
  padding: 20px;
  border: none;
  width: 360px;
  height: 80px;
  color: #4EB980;
  font-weight: bold;
  font-size: 20px;
}
